body{
    background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg") ;
    display: block;
    
}

 .conteiner{
    background-color: rgb(223, 188, 223);
    margin-top: 30px;
    margin-left: 35vw;
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: center;
    border: 5px solid black;
    border-radius: 15px;
    flex-wrap: wrap;
}

.send{
    width: 100px;
    height: 20px;
    margin: 25px;
}

.conteiner-dificultad{
    position: absolute;
    left: 0;
    margin-left: 5vw;
    background-color: rgb(223, 188, 223);
    padding: 50px;
    width: 200px;
    height: 200px;
    display: block;
    border: 5px solid black;
    border-radius: 15px;
}

.conteiner img{
    object-fit: contain;
    position: relative;
    width: 10%;
    height: 10%;
    /* outline: 2px solid black; */
    margin: 5px;
} 

.hover:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 50px 10px rgb(255, 255, 255);
    
}

.focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    
} 
img[tabIndex="0"]{
    animation-name: efecto;
    animation-duration: 1s;
}

@keyframes efecto{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1.3);
    }
}

@media only screen and (max-device-width: 800px) {

    body{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .send {
        width: 70%;
        height: 25%;
    }
    .conteiner{
        margin: 5%;
        width: 90vw;
        height: 50vh;
        margin-top: 5%;
    }
    
    .conteiner-dificultad{
        width: 70vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 10%;
    }
    
}